<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bet Friends Submitted Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'fight: ' + ${submissionForm.fight}" />
<p th:text="'odds: ' + ${submissionForm.odds}" />
<p th:text="'author: ' + ${submissionForm.author}" />
<p th:text="'image: ' + ${submissionForm.image}" />
<p th:text="'betType: ' + ${submissionForm.betType}" />
<a href="/greeting">Submit another form</a>
</body>
</html>