<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Bet Friends Season 2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Betting Submission Form</h1>
<form action="#" th:action="@{/submitForm}" th:object="${submissionForm}" method="post">
    <p>fight: <input type="text" th:field="*{fight}" /></p>
    <p>odds: <input type="text" th:field="*{odds}" /></p>
    <p>author: <input type="text" th:field="*{author}" /></p>
    <p>image: <input type="text" th:field="*{image}" /></p>
    <label>BetTypes: </label>
    <select th:field="*{betType}">
        <option th:each="typeOpt : ${T(com.paddy.bets.BetType).values()}"
                th:value="${typeOpt}" th:text="${typeOpt}"></option>
    </select>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>